import /init.recovery.qcom_decrypt.rc

on early-fs
    write /proc/sys/walt/sched_lib_name "recovery,magiskboot,Updater,updater,update_engine_sideload"
    write /proc/sys/walt/sched_lib_mask_force 255

on fs
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    install_keyring

on init
    start boot-hal-1-2

on boot
    setprop sys.usb.config adb

on property:twrp.modules.loaded=true
    # Mount firmware
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery
    start vendor.qseecomd
    start touch_report
    start health-hal-2-1
    start vibratorfeature-hal-service
    umount /firmware

on property:vendor.sys.listeners.registered=true
    start gatekeeper-1-0
    start vendor.keymaster-4-1
